body {
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #EBE8E2;
}

.header {
  background-color: #007193;
  color: #EBE8E2;
  padding: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

h2 {
  margin: 0;
}

.header-logo {
  width: 45px;
  height: 40px; 
  margin: 10px;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background-color: #fffcf6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  margin: 10px 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  padding: 8px 16px;
  background-color: #007193;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #768A95;
}

#responseContainer {
  margin-top: 20px;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.funny-text {
  font-size: 14px;
  opacity: 0.7;
}

#checkboxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.checkbox-button-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}
